<h1>{{title}}</h1>
ngModel need formsModule<br/>

<form [formGroup] ="customerModel.formCustomerGroup" >
customer Code : <input formControlName="CustomerCodeControl" [(ngModel)]= "customerModel.CustomerCode" type="test"/><!-- ([ngModel]) =>2 way loading--> <br/>
customer Name : <input formControlName="CustomerNameControl" [(ngModel)] = "customerModel.CustomerName" type=test/><br/>
customer Amount : <input [ngModelOptions]="{standalone:true}"  [(ngModel)] = "customerModel.CustomerAmount" type=test/><br/>
<input [disabled]="!(customerModel.formCustomerGroup.valid)" (click)="add()" type=button value="Add"/>

</form>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!customerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('pattern')">Customer code format is not proper</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!customerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('required')">Customer code  is required</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!customerModel.formCustomerGroup.controls['CustomerNameControl'].hasError('required')">Customer name is requiered</div>

<input [disabled]="!(customerModel.formCustomerGroup.valid)" (click)="postToServer()" type=button value="Send to server"/>

<grid-ui [grid-columns]="[{'colName':'CustomerCode'},{'colName':'CustomerName'},{'colName':'CustomerAmount'}]"
 [grid-data]="customerModels" (grid-selected)="selectCustomer($event)"></grid-ui>
<!--


- {{customerModel.CustomerCode}}<br/> 
- {{customerModel.CustomerName}}<br/>
- {{customerModel.CustomerAmount}}<br/>
<table>
    <tr>
        <td>customer Code</td>
        <td>customer Name</td>
        <td>customer Amount</td>
    </tr>
   <tr *ngFor="let cust of customerModels">
        <td>{{cust.CustomerCode}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
    </tr>

</table>
-->